<!DOCTYPE html>
<html>
  <head>
    <title>BookKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="bg-white">

  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %>

    <header class="mb-4">
      <nav class="flex justify-between flex-wrap bg-gray-100 py-3 lg:px-10 px-3 text-gray-700 border-b border-gray-400">
        <div class="flex align-items-center flex-no-shrink mr-6">
          <%= link_to "BookKeeper", root_path, class:"link text-xl tracking-tight font-bold" %>
        </div>
        
          <div class="w-full block lg:flex lg:flex-row lg:flex-1 mt-2 lg:mt-0 text-center lg:text-left lg:justify-end align-items-center">
            <% if user_signed_in? %>
              <%= link_to "Library", library_index_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 inline-block" %>
              <%= link_to "Add Book", new_book_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 inline-block" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 inline-block" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 inline-block" %>
              <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 inline-block" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main class="lg:px-10 px-4">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    
  </body>
</html>
